</div>
</div>
<!-- Page-body end -->
</div>
<div id="styleSelector"></div>
<div class="text-center fixed-bottom bg-primary">
    <p class="m-2"> Crafted With <span class="text-danger">❤</span> By <a href="https://www.github.com/itsubedibesh" target="blank"
                             class="btn-dark btn-sm badge badge-pill">Dibesh Raj Subedi</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{{>layout/footer}}
