{{>layout/bodyHead}}
<div class="col-md-12 col-lg-12">
    <!-- Inverse table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Sales Bills</h5>
            <div class="card-header-right d-md-none d-xl-block">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><a id="reloadSalesBills"><i class="fa fa-refresh reload-card"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive" >
                <div class="text-right mb-2">
                    <a href="/billing/Add/bill" class="btn btn-primary badge badge-pill"><i
                            class="fas fa-plus"></i> Add Sales Bill</a>
                </div>
                <table class="table" id="salesBillsTable">
                    <thead class="bg-dark text-light">
                    <tr>
                        <th>#</th>
                        <th>Customer Name</th>
                        <th>Customer TPIN</th>
                        <th>Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Sold By</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="salesBillsDataset" class="text-dark">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Inverse table card end -->
</div>
{{>layout/bodyFooter}}
{{>layout/dataTable}}
<script>
    function formatDate(date){
        const d= new Date(date);
        return `${d.getFullYear()}/${d.getMonth()+1}/${d.getDate()}`;
    }

    function setSalesBills() {
        fetch("/api/sales/OrderList")
                .then(res => res.json())
                .then(response => {
                    const TableData = document.getElementById("salesBillsDataset");
                    let TableDataset = '';
                    for (let i = 0; i < response.length; i++) {
                        TableDataset += `<tr>
                                            <td>${i + 1}</td>
                                            <td>${response[i].customerId.fullName}</td>
                                            <td>${response[i].customerId.tpin}</td>
                                            <td>${response[i].invoiceNumber}</td>
                                            <td>${formatDate(response[i].invoiceDate)}</td>
                                            <td>${response[i].userId.fullName}</td>
                                            <td>
                                                <a href="/billing/View/${response[i].invoiceNumber}" class="btn btn-primary btn-md badge badge-pill text-center"  data-toggle="tooltip" data-placement="left" title="View Bill"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>`;
                    }
                    TableData.innerHTML = null;
                    TableData.innerHTML += TableDataset;
                    $('#salesBillsTable').DataTable().destroy()
                    $('#salesBillsTable').DataTable({
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        retrieve: true,
                        destroy: true,
                        responsive: true,
                    });
                }).catch(err => {
            const TableData = document.getElementById("salesBillsTable");
            TableData.innerHTML = null;
            TableData.innerHTML += `<tr><td colspan="7" class="text-dark text-center"><h4>Data Not Found!</h4></td></tr>`;
        })
    }
    setSalesBills();
    document.getElementById("reloadSalesBills").addEventListener("click", setSalesBills);

</script>