<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Dibesh Raj Subedi"/>
    <title> {{#Action}}{{Action}}{{/Action}} {{PageTitle}} | Walmart Inventory Management System </title>

    <!-- Favicon icon -->
    <link rel="icon" href="/images/icons/inventory.ico" type="image/x-icon">

    <!-- Google font-->
    <link href="/font/googleFonts.css" rel="stylesheet">

    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/font/icofont/css/icofont.css">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="/font/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-n.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">

    <!--    notification.css-->
    <link rel="stylesheet" href="/pages/notification/notification.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!--    Dropify-->
    <link rel="stylesheet" href="/js/Dropify/css/dropify.min.css">

    <!--    Light Box-->
    <link rel="stylesheet" href="/js/Lightbox/css/lightbox.min.css">

</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
