{{>layout/bodyHead}}
<div class="col-md-12 col-lg-6">
    <!-- Inverse table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Role Access List</h5>
            <div class="card-header-right d-md-none d-xl-block">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><a id="reloadRolesAccessList"><i class="fa fa-refresh reload-card"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive" >
                <div class="text-right mb-2">
                    <a href="/login_role_mapping/Add/roleAccess" class="btn btn-primary badge badge-pill"><i
                            class="fas fa-plus"></i> Add Role Access</a>
                </div>
                <table class="table" id="roleAccessTable">
                    <thead class="bg-dark text-light">
                    <tr>
                        <th>#</th>
                        <th>Role</th>
                        <th>Access</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="roleAccessDataset" class="text-dark">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Inverse table card end -->
</div>
<div class="col-md-12 col-lg-6">
    <!-- Inverse table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Login Role List</h5>
            <div class="card-header-right d-md-none d-xl-block">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><a id="reloadLoginRoleList"><i class="fa fa-refresh reload-card"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <div class="text-right mb-2">
                    <a href="/login_role_mapping/Add/loginRole" class="btn btn-primary badge badge-pill"><i
                            class="fas fa-plus"></i> Add Login Role</a>
                </div>
                <table class="table" id="loginRoleTable">
                    <thead class="bg-dark text-light">
                    <tr>
                        <th>#</th>
                        <th>Login</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="loginRoleDataset" class="text-dark">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Inverse table card end -->
</div>
{{>layout/bodyFooter}}
{{>layout/dataTable}}
<script>
    function setRoleAccessList() {
        fetch("/api/roleAccess")
                .then(res => res.json())
                .then(response => {
                    const TableData = document.getElementById("roleAccessDataset");
                    let TableDataset = '';
                    for (let i = 0; i < response.length; i++) {
                        TableDataset += `<tr>
                                            <td>${i + 1}</td>
                                            <td>${response[i].roleId.name}</td>
                                            <td>${response[i].accessId.name}</td>
                                            <td>
                                                <a href="/login_role_mapping/Update/roleAccess/${response[i].id}" class="btn btn-primary btn-md badge badge-pill text-center"  data-toggle="tooltip" data-placement="left" title="Edit Role Access Map"><i class="fas fa-edit"></i></a>
                                                <a href="/login_role_mapping/Delete/roleAccess/${response[i].id}" class="btn btn-danger btn-md badge badge-pill text-center" data-toggle="tooltip" data-placement="left" title="Delete Role Access Map"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>`;
                    }
                    TableData.innerHTML = null;
                    TableData.innerHTML += TableDataset;
                    $('#roleAccessTable').DataTable().destroy()
                    $('#roleAccessTable').DataTable({
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        retrieve: true,
                        destroy: true,
                        responsive: true,
                        drawCallback: function (e) {
                            var t = this.api(),
                                    l = t.rows({
                                        page: "current"
                                    }).nodes(),
                                    c = null;
                            t.column(1, {
                                page: "current"
                            }).data().each(function (e, t) {
                                c !== e && ($(l).eq(t).before('<tr class="bg-primary text-light"><td colspan="4">' + e + " Access List" + "</td></tr>"), c = e)
                            })
                        }
                    });
                }).catch(err => {
            const TableData = document.getElementById("roleAccessTable");
            TableData.innerHTML = null;
            TableData.innerHTML += `<tr><td colspan="4" class="text-dark text-center"><h4>Data Not Found!</h4></td></tr>`;
        })
    }
    setRoleAccessList();
    document.getElementById("reloadRolesAccessList").addEventListener("click", setRoleAccessList);

    function setLoginRoleList() {
        fetch("/api/loginRole")
                .then(res => res.json())
                .then(response => {
                    const TableData = document.getElementById("loginRoleDataset");
                    let TableDataset = '';
                    for (let i = 0; i < response.length; i++) {
                        TableDataset += `<tr>
                                            <td>${i + 1}</td>
                                            <td>${response[i].loginId.userName}</td>
                                            <td>${response[i].roleId.name}</td>
                                            <td>
                                                <a href="/login_role_mapping/Update/loginRole/${response[i].id}" class="btn btn-primary btn-md badge badge-pill text-center"  data-toggle="tooltip" data-placement="left" title="Edit Login Role Map"><i class="fas fa-edit"></i></a>
                                                <a href="/login_role_mapping/Delete/loginRole/${response[i].id}" class="btn btn-danger btn-md badge badge-pill text-center" data-toggle="tooltip" data-placement="left" title="Delete Login Role Map"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>`;
                    }
                    TableData.innerHTML = null;
                    TableData.innerHTML += TableDataset;
                    $('#loginRoleTable').DataTable().destroy()
                    $('#loginRoleTable').DataTable({
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        retrieve: true,
                        destroy: true,
                        responsive: true,
                        drawCallback: function (e) {
                            var t = this.api(),
                                    l = t.rows({
                                        page: "current"
                                    }).nodes(),
                                    c = null;
                            t.column(1, {
                                page: "current"
                            }).data().each(function (e, t) {
                                c !== e && ($(l).eq(t).before('<tr class="bg-primary text-light"><td colspan="5">' + e + "'s Roles List" + "</td></tr>"), c = e)
                            })
                        }
                    });
                }).catch(err => {
            const TableData = document.getElementById("loginRoleTable");
            TableData.innerHTML = null;
            TableData.innerHTML += `<tr><td colspan="5" class="text-dark text-center"><h4>Data Not Found!</h4></td></tr>`;
        })
    }
    setLoginRoleList();
    document.getElementById("reloadLoginRoleList").addEventListener("click", setLoginRoleList);

</script>
