{{>layout/bodyHead}}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>{{Action}} {{PageTitle}}</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <h4 class="sub-title">Please Fill The Form Wisely😀😀!!</h4>
            <form action="/login_role_mapping/{{Action}}/roleAccess" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Role</label>
                    {{#editRoleAccess.id}}
                        <input type="hidden" id="id" name="id" value="{{editRoleAccess.id}}">
                    {{/editRoleAccess.id}}
                    <div class="col-sm-10">
                        {{#editRoleAccess.id}}
                            <input type="text" id="name" name="name" disabled value="{{editRoleAccess.roleId.name}}">
                            <input type="hidden" id="roleId" name="roleId" value="{{editRoleAccess.roleId.id}}">
                        {{/editRoleAccess.id}}
                        {{^editRoleAccess.id}}
                            <select name="roleId" id="roleId" class="form-control" required>
                                <option disabled selected>Select a Role</option>
                            </select>
                        {{/editRoleAccess.id}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Access</label>
                    <div class="col-sm-10">
                        <select name="accessId" id="accessId" class="form-control" required>
                            <option disabled selected>Select Access</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success m-2" type="submit"><i class="fas fa-edit"></i> {{Action}}
                        </button>
                        <button class="btn btn-danger m-2" type="reset"><i class="fas fa-trash"></i> Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>layout/bodyFooter}}
<script type="text/javascript" src="/js/common-pages.js"></script>
<script>
    const roleData = {{#editRoleAccess.roleId.name}}"{{editRoleAccess.roleId.name}}"{{/editRoleAccess.roleId.name}}{{^editRoleAccess.roleId.name}}null{{/editRoleAccess.roleId.name}},
            accessData = {{#editRoleAccess.accessId.name}}"{{editRoleAccess.accessId.name}}"{{/editRoleAccess.accessId.name}}{{^editRoleAccess.accessId.name}}null{{/editRoleAccess.accessId.name}};
        {{^editRoleAccess.id}}
        fetch("/api/roles")
                .then(res => res.json())
                .then(response => {
                    const roleId = document.getElementById("roleId");
                    response.forEach(role => {
                        roleId.innerHTML += `<option value="${role.id}" ${roleData != null && roleData == role.name ? "selected" : ""}>${role.name}${role.description != "" ? " - " + role.description : ""}</option>`;
                    })
                })
        {{/editRoleAccess.id}}

    fetch("/api/access")
            .then(res => res.json())
            .then(response => {
                const accessId = document.getElementById("accessId");
                response.forEach(access => {
                    accessId.innerHTML += `<option value="${access.id}" ${accessData != null && accessData == access.name ? "selected" : ""}>${access.name}${access.description != "" ? " - " + access.description : ""}</option>`;
                })
            })
</script>