{{>layout/bodyHead}}
<div class="col-md-12 col-lg-12">
    <!-- Inverse table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Warehouse And Marts List</h5>
            <div class="card-header-right d-md-none d-xl-block">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><a id="reloadWareHouseMartList"><i class="fa fa-refresh reload-card"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive" >
                <div class="text-right mb-2">
                    <a href="/warehouse_and_marts/Add/warehouseMart" class="btn btn-primary badge badge-pill"><i
                            class="fas fa-plus"></i> Add Warehouse and Marts</a>
                </div>
                <table class="table" id="wareHouseMartTable">
                    <thead class="bg-dark text-light">
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="wareHouseMartDataset" class="text-dark">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Inverse table card end -->
</div>
{{>layout/bodyFooter}}
{{>layout/dataTable}}
<script>
    function setWareHouseMartList() {
        fetch("/api/warehouseAndMart")
                .then(res => res.json())
                .then(response => {
                    const TableData = document.getElementById("wareHouseMartDataset");
                    let TableDataset = '';
                    for (let i = 0; i < response.length; i++) {
                        TableDataset += `<tr>
                                            <td>${i + 1}</td>
                                            <td>${response[i].type}</td>
                                            <td>${response[i].name}</td>
                                            <td>${response[i].contact}</td>
                                            <td>${response[i].address}</td>
                                            <td>
                                                <a href="/warehouse_and_marts/Update/warehouseMart/${response[i].id}" class="btn btn-primary btn-md badge badge-pill text-center"  data-toggle="tooltip" data-placement="left" title="Edit Warehouse and Mart"><i class="fas fa-edit"></i></a>
                                                <a href="/warehouse_and_marts/Delete/warehouseMart/${response[i].id}" class="btn btn-danger btn-md badge badge-pill text-center" data-toggle="tooltip" data-placement="left" title="Delete Warehouse and Mart"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>`;
                    }
                    TableData.innerHTML = null;
                    TableData.innerHTML += TableDataset;
                    $('#wareHouseMartTable').DataTable().destroy()
                    $('#wareHouseMartTable').DataTable({
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        retrieve: true,
                        destroy: true,
                        responsive: true
                    });
                }).catch(err => {
            const TableData = document.getElementById("wareHouseMartTable");
            TableData.innerHTML = null;
            TableData.innerHTML += `<tr><td colspan="6" class="text-dark text-center"><h4>Data Not Found!</h4></td></tr>`;
        })
    }
    setWareHouseMartList();
    document.getElementById("reloadWareHouseMartList").addEventListener("click", setWareHouseMartList);

</script>
