{{>layout/bodyHead}}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>{{Action}} User</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <h4 class="sub-title">Please Fill The Form Wisely😀😀!!</h4>
            <form action="/users/{{Action}}/user" method="post">
                {{#editUser.id}}<input type="hidden" id="id" name="id" value="{{editUser.id}}">{{/editUser.id}}
                <!--  Set Form Fields  -->

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Full Name</label>
                    <div class="col-sm-10">
                        <input type="text" required name="fullName" id="fullName"
                               value="{{#editUser.fullName}}{{editUser.fullName}}{{/editUser.fullName}}"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Login User</label>
                    <div class="col-sm-10">
                        <select name="loginId" id="loginId" class="form-control" required>
                            <option disabled selected>Select Login User</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Contact Number</label>
                    <div class="col-sm-10">
                        <input type="tel" required name="contactNumber" id="contactNumber"
                               value="{{#editUser.contactNumber}}{{editUser.contactNumber}}{{/editUser.contactNumber}}"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" required name="address" id="address"
                               value="{{#editUser.address}}{{editUser.address}}{{/editUser.address}}"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-10">
                        <input type="date" required name="dob" id="dob" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-sm-10">
                        <select name="gender" id="gender" class="form-control" required>
                            <option disabled selected>Select Gender</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">TPIN</label>
                    <div class="col-sm-10">
                        <input type="text" required name="tpin" id="tpin"
                               value="{{#editUser.tpin}}{{editUser.tpin}}{{/editUser.tpin}}" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success m-2" type="submit"><i class="fas fa-edit"></i> {{Action}}
                        </button>
                        <button class="btn btn-danger m-2" type="reset"><i class="fas fa-trash"></i> Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>layout/bodyFooter}}
<script type="text/javascript" src="/js/common-pages.js"></script>
<script>
    const gender = ["Male", "Female", "Others", "None"],
            genderId = document.getElementById("gender"),
            selectedLogin ={{#editUser.loginId.id}}"{{editUser.loginId.id}}"{{/editUser.loginId.id}}{{^editUser.loginId.id}}null{{/editUser.loginId.id}},
            selectedGender ={{#editUser.gender}}"{{editUser.gender}}"{{/editUser.gender}}{{^editUser.gender}}null{{/editUser.gender}},
            selectedDob ={{#editUser.dob}}"{{editUser.dob}}".split(" ")[0]{{/editUser.dob}}{{^editUser.dob}}null{{/editUser.dob}},
            loginId = document.getElementById("loginId"),
            dobId = document.getElementById("dob");
    gender.forEach(item => {
        genderId.innerHTML += `<option value="${item}" ${selectedGender != null && selectedGender == item ? "selected" : ""}>${item}</option>`;
    });
    if (selectedDob != null) {
        dobId.value = selectedDob;
    }

    fetch("/api/logins")
            .then(res => res.json())
            .then(response => {
                response.forEach(login => {
                    if (login.id != sessionKey.id) {
                        loginId.innerHTML += `<option value="${login.id}" ${selectedLogin != null && selectedLogin == login.id ? "selected" : ""}>${login.userName} ${login.email != "" ? " - " + login.email : ""}</option>`;
                    }
                });
            })
</script>