{{>layout/bodyHead}}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>{{Action}} Access</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <h4 class="sub-title">Please Fill The Form Wisely😀😀!!</h4>
            <form action="/roles_and_access/{{Action}}/access" method="post">
                {{#editAccess.id}}<input type="hidden" id="id" name="id" value="{{editAccess.id}}">{{/editAccess.id}}
                <!--  Set Form Fields  -->

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Access Name</label>
                    <div class="col-sm-10">
                        <input type="text" required name="name" id="name"
                               value="{{#editAccess.name}}{{editAccess.name}}{{/editAccess.name}}"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Table Name</label>
                    <div class="col-sm-10">
                        <input type="text" required name="table" id="table"
                               value="{{#editAccess.table}}{{editAccess.table}}{{/editAccess.table}}"
                               class="form-control">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Create Access</label>
                    <div class="col-sm-10">
                        <select name="createAccess" id="createAccess" class="form-control" required>
                            <option disabled selected>Select Access</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Read Access</label>
                    <div class="col-sm-10">
                        <select name="readAccess" id="readAccess" class="form-control" required>
                            <option disabled selected>Select Access</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Update Access</label>
                    <div class="col-sm-10">
                        <select name="updateAccess" id="updateAccess" class="form-control" required>
                            <option disabled selected>Select Access</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Delete Access</label>
                    <div class="col-sm-10">
                        <select name="deleteAccess" id="deleteAccess" class="form-control" required>
                            <option disabled selected>Select Access</option>
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea rows="5" cols="5" class="form-control" name="description" id="description"
                                  placeholder="Description">{{#editAccess.description}}{{editAccess.description}}{{/editAccess.description}}</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success m-2" type="submit"><i class="fas fa-edit"></i> {{Action}}
                        </button>
                        <button class="btn btn-danger m-2" type="reset"><i class="fas fa-trash"></i> Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>layout/bodyFooter}}
<script type="text/javascript" src="/js/common-pages.js"></script>
<script>
    const accessType = ["Allow", "Deny"],
            accessId = [
                {
                    title: "createAccess",
                access: {{#editAccess.createAccess}}"{{editAccess.createAccess}}"{{/editAccess.createAccess}}{{^editAccess.createAccess}}null{{/editAccess.createAccess}}
                },
                {
                    title: "readAccess",
                access: {{#editAccess.readAccess}}"{{editAccess.readAccess}}"{{/editAccess.readAccess}}{{^editAccess.readAccess}}null{{/editAccess.readAccess}}
                },
                {
                    title: "updateAccess",
                access: {{#editAccess.updateAccess}}"{{editAccess.updateAccess}}"{{/editAccess.updateAccess}}{{^editAccess.updateAccess}}null{{/editAccess.updateAccess}}
                },
                {
                    title: "deleteAccess",
                access: {{#editAccess.deleteAccess}}"{{editAccess.deleteAccess}}"{{/editAccess.deleteAccess}}{{^editAccess.deleteAccess}}null{{/editAccess.deleteAccess}}
                }
            ];

    //Loops Through individual Access List
    accessId.forEach(individualAccess => {
        const accessId= document.getElementById(individualAccess.title);
        //Loops Thorough Individual Access
        accessType.forEach(access=>{
            accessId.innerHTML+=`<option value="${access}" ${access==individualAccess.access?"selected":""}>${access}</option>`;
        });
    })
</script>